.main-section {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 10vw;
  padding-right: 10vw;
}

.right-panel {
  width: 100px;
  height: 100px;
  background-color: brown;
  color: azure;
}

.left-panel {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
}

.midright-panel {
  width: 200px;
  height: 100px;
  color: azure;
  background-color: greenyellow;
}

.midleft-panel {
  width: 200px;
  height: 100px;
  background-color: orange;
}